{% block content %}
<div>
    {% from "form/_formhelpers.html" import render_field %}
    <form method="post" action="{{ url_for('edit_post', bid=p.bid, pid=p.pid) }}">
        <dl>
            {{ render_field(pform.name, size=50, maxlength=80, value=p.name) }}
            {{ render_field(pform.desc, rows=10, cols=50, maxlength=1024) }}
            <input class="btn btn-primary" type=submit value=Submit>
        </dl>
    </form>
</div>
{% endblock %}