astroid==2.3.3
attrs==17.2.0
autopep8==1.4.4
beautifulsoup4==4.7.1
blinker==1.4
Click==7.0
decorator==4.4.1
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
Flask==1.1.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gunicorn==19.9.0
htmlmin==0.1.12
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jinjalint==0.5
jsonify==0.5
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
micawber==0.5.0
parsy==1.3.0
passlib==1.7.1
pbr==5.4.4
psycopg2==2.7.7
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.4
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
typed-ast==1.4.0
Werkzeug==0.15.4
wrapt==1.12.0
WTForms==2.2.1
