{% block content %}
<ol class="breadcrumb pull-right where-am-i">
    {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
    <li><a href="/admin/panel">{{current_user.username}}</a></li>
        {% else %}
    <li> {{ current_user.username }}</li>
        {% endif %}
    <li><a href="/logout">Logout</a></li>
    {% else  %}
    <li><a href="/login">Login</a></li>
    {% endif %}
</ol>
<div class="clearfix"></div>
{% endblock %}